@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Azeret Mono;
}

/* Shared style */
.description {
    font-size: 12px;
    font-weight: 400;
    color: #0D1321B3;
    padding: 0 70px;
    margin: 30px 0;
    text-align: center;

}
.section-title {
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    color: #0D1321;
}

main {
    max-width: 1140px;
    margin: auto;
}
/* header section */
.nav-container {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.logo-name {
    font-weight: 800;
    font-size: 38px;
    color: #0D1321;
}
.resume-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 17px 24px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}
.hero-section {
    background-image: url("../assets/Hero-bg.png");
    background-position: center; 
}
.hero-container {
    max-width: 998px;
    margin: auto;
    text-align: center;
    padding: 25px 40px 40px 40px;
}
.hero-title {
    font-size: 44px;
    font-weight: 800;
    color: #0D1321;
}

.contact-btn {
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 21px 24px;
    background-color: #0D1321;
    border-radius: 8px;
}
.contact-btn > a {
    text-decoration: none;
    color: white;
}

/* Why Web Development Section */

#why-wd {
    background-color: #0D132105;
    padding: 80px 97px;
    margin: 100px 0;
}
.why-wd-container {

}
.column {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 30px auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 48px;
}

.column-2 {
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.wd-description {
    font-size: 12px;
    font-weight: 400;
    color: #0D1321B3;
    text-align: left;
    margin: 30px 0;
}
.learn-btn {
    font-size: 16px;
    font-weight: 600;
    color: #0D1321;
    border: 1px solid #0D1321;
    padding: 10px 20px;
    background-color: white;

}
.learn-btn > .learn-more {
    text-decoration: none;
    color: #0D1321B3;
}

/* Inspiration section */
#inspiration {
    margin: 100px 0;
}
.inspiraion-video {
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
iframe {
    border-radius: 16px;
}

/* Target Section */
.target-column {
    display: flex;
    gap: 20px;
}
.target-column-child {
    padding: 40px;
    border-radius: 16px;
}
.target-learn-more {
    font-size: 12px;
    font-weight: 700;
    color: #0D1321;
}

/* Support Section */
#support {
    background-image: linear-gradient(45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
    ), 
      url(
'../assets/handshake.jpg');
    background-position: center;
    background-size: cover;
    height: 314px;
    border-radius: 16px;
}
.support-container {
    text-align: center;
    margin: 50px 0;
    padding: 46px 48px;
}
.support-container > h2 {
    color: white;
    text-align: center;
}

.support-container > p {
    color: #FFFFFF;
}
.contact-form {
    padding: 19px;
    width: 548px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 8px;
    border: none;
}
.submit {
    padding: 17px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #0D1321;
    background-color: white;
}

/* Footer */
footer {
    background-color: #0D132108;
}
.footer-container {
    max-width: 1140px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
    gap: 30px;
}
li {
    display: flex;
    list-style: none;
}
